<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.clickide.configurationProvider">
      <configurationProvider
            class="org.seasar.s2click.clickide.extension.S2ClickConfigurationProvider">
      </configurationProvider>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.seasar.s2click.clickide.extension.category"
            name="S2Click">
      </category>
      <wizard
            category="org.seasar.s2click.clickide.extension.category"
            class="org.seasar.s2click.clickide.extension.NewS2ClickProjectWizard"
            id="org.seasar.s2click.clickide.extension.wizard2"
            name="S2Click Project"
            project="true">
      </wizard>
   </extension>
   -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
