<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.apache.click.eclipse.configurationProvider">
      <configurationProvider
            class="org.seasar.s2click.clickide.extension.S2ClickConfigurationProvider">
      </configurationProvider>
   </extension>
</plugin>
